DEV_MODE="True"

SELIC_SHEET_NAME="SELIC ACUMULADA"

SHARED_DRIVE_ID="shared_drive_id"
ORIGINAL_FOLDER_ID="original_folder_id"

PATH_LOCAL_BACKUP_BASE="C:/Path/For/Your/Backup/Folder"
PATH_LOCAL_UPDATED_SHEETS="C:/Path/For/Your/Updated/Sheets/Folder"

ALERT_EMAIL_RECIPIENT="recipient_email@domain.com"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="user_email@domain.com"
EMAIL_PASSWORD="app_password"
